@charset "utf-8";

.hidden {
  display: none;
}

.todo {
  width: 30vw;
  padding: 5vh;
  border: 1px solid #333;
}

.done {
  width: 30vw;
  padding: 5vh;
  margin-top: 5vh;
  border: 1px solid #333;
}
